<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.mfx.shopaholic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->


    <application
        android:name=".ShopApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="it.mfx.shopaholic.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>



        <activity
            android:name=".ui.activities.ComposeListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="@string/share_mime_type" />
                <!--
                <data android:mimeType="application/json" />
                <data android:mimeType="text/html" />
                -->
            </intent-filter>
            <!--
                You should have both a rule with the mimeType and one without if you want to be complete. See
                https://developer.android.com/guide/components/intents-filters.html#DataTest
                 – Andrew Sun Dec 16 '16 at 3:33
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:host="*" />

                <data android:mimeType="@string/share_mime_type" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/html" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:host="*" />

                <data android:pathPattern=".*\\.json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*" />

                <data android:pathPattern=".*\\.json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="*" />

                <data android:scheme="content" android:host="*" />

                <data android:mimeType="@string/share_mime_type" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/html" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <!-- Example 1, handle http requests without mimetypes: -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.json" />
            </intent-filter>
            <intent-filter>
                <!-- Handle with mimetypes, where the suffix is irrelevant: -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"
                    android:host="*"
                    android:mimeType="@string/share_mime_type" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <!-- Handle intent from a file browser app: -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\.json" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SearchItemActivity"
            android:label="@string/title_activity_search_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.EditItemActivity"
            android:theme="@style/AppTheme.NoActionBar"
        />
        <activity
            android:name=".ui.activities.ShopRunActivity"
            android:label="@string/title_activity_shop_run"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>